
.breve {
background-color: #252525;
}

.projeto.breve .card {
  background-color: #eee;
}

.titulo-projeto {
  text-align: center;
  font-size: 64px;

}

.projeto.breve h1 {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 3.375em;
}
