.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-color: var(--cor-5);
}

.contato h1 {
    font-size: var(--texto-g);
    margin-bottom: var(--espacamento-vertical);
    display: flex;
    justify-content: center;

}

.contato ul {
    display: flex;
    gap: var(--espacamento-horizontal);
}

.contato li {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: all .4s ease;
    cursor: pointer;
}

.contato li::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    background-color:#fff;
    border-radius: 50%;
    padding: 5px 4px 3px 4px;
}

.contato li h4 {
    font-size: var(--texto-m);
}

.contato li p {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-weight: normal;
    text-transform: lowercase;
    margin-top: 4px;
    font-size: 14px;
}

.contato li:nth-child(4)::before {
    content: url('/src/icons/linkedin.svg');

}
.contato li:nth-child(3)::before {
    content: url('/src/icons/phone.svg');

}
.contato li:nth-child(2)::before {
    content: url('/src/icons/contactEmail.svg');

}
.contato li:nth-child(1)::before {
    content: url('/src/icons/github.svg');
   
}

.contato li:hover {
    scale: 1.2;
}