.conteudo {
display: flex;
padding-top: 40px;
gap: 40px;
background: #202020;
padding-left: 60px;
padding-right: 60px;
box-sizing: content-box;
}

.conteudo h3 { 
  text-wrap: nowrap;
}

.conteudo h1 {
  font-size: 48px;
  font-family: monospace;
  background: #202020;
  color: #f1f1f1;
  text-align: center;
  padding: 40px 20px 20px 20px;
}



.conteudo ul li {

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: white;
  background: #252525;
  text-indent: 50px;

}

.conteudo ul li:hover {
  background: #282828;
  cursor: pointer;
}

.conteudo ul li div {
  display: flex;
  flex-direction: column;
}




.conteudo li::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
}





.conteudo .design  li::before {
background-color: #f00;
}

.conteudo .dev li::before {
  background-color: aqua;
}

