.landing-page {
  background-color: var(--cor-4);
  
}

.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
  height: 70vh;
 
 
}

.mainPage div {
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;


}

.titulo {
  font-size: var(--texto-gg);
  font-family: var(--fonte-display);
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  
}

.subtitulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: var(--texto-m);
  font-weight: 400;
  font-style: italic;
  margin: var(--espacamento-vertical) auto;
  font-family: var(--fonte-display);
}



.mainPage p {
  max-width: 600px;
  line-height: 1.4;
  font-size: var(--texto-p);
  text-align: center;
}
.mainPage img {
  max-width: 300px;
  filter: contrast(1.2) saturate(1.2) ;
  border-radius: 10px;
  margin-left: 20px;
}

.mainPage span {
  display: flex;
  width: 100%;

  justify-content: space-around;
  margin: var(--espacamento-vertical) auto;
}


.mainPage button {
  background: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--cor-1);
  color: white;
  transition: all .4s ease;
  font-weight: bold;
  cursor: pointer;
}
.mainPage button:hover {
  background: var(--cor-3);
  color: black;
  scale: 0.95;

}

.mainPage button:nth-child(1) {
  background: var(--cor-1);
  border: none;
}


