.magnifico {
  background: url('/src/img/magnifico.jpeg') center no-repeat;
}

.projeto.magnifico .card {
  background-color: #f00;
  color: #fff;
 }

 .projeto.magnifico h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  font-size: 3.375em;
  font-weight: normal;
 }