@media (max-width: 900px) {
    
    .titulo {
        font-size: var(--texto-g);
    }
    .subtitulo {
        font-size: var(--texto-p);
    }
    .mainPage img {
        width: 220px;
        margin-left: 5px;
    }
    .mainPage span {
        gap: 20px;
    }
    .mainPage button {
        padding: 5px 10px;
    }

    .sobre-titulo {
        font-size: var(--texto-g);
    }

    .sobre p {
        font-size: 1rem;
        max-width: 600px;
    }

    .habilidades {
        max-width: 600px;
    }

    .destaque-container {
        overflow: scroll;
    }
    .todos-container {
        overflow: scroll;
    }

    .projeto-final div {
        flex-direction: column;
        align-items: center;
    }

    

    .contato ul {
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contato li {
        padding: 0;
    }

    .contato li h4 {
        font-size: var(--texto-p);
    }

    .contato li::before {
        padding: 2px;
    }

  
}

@media(max-width: 600px) {

    .container {
       margin: 0 20px;
    }
  
    .mainPage {
        padding-top: 100px;
    }

    .mainPage img {
        max-width: 150px;
    }

    .titulo {
        font-size: var(--texto-m);
    }
    .subtitulo {
        margin: 0;
        font-size: 0.875rem;
    }

    .mainPage button {
        padding: 5px;
        font-size: var(--texto-pp);
    }

    .sobre-container {
        height: 40vh;

    
    }

    .sobre-titulo {
        font-size: var(--texto-m);
    }
    .sobre p {
        font-size: 0.875rem;
       
    }

    .habilidade-icons img {
        padding: 10px;
        width: 40px;
    }
}

@media (max-width: 468px) {
    .header {
        padding: 5px 5px;
        max-width: 90vw;
        margin: 10px auto;
        flex-shrink: 0;
    }
    .titulo {
        font-size: var(--texto-g);
        margin-top: 20px;
    }
    .subtitulo {
        font-size: var(--texto-p);
    }
    .mainPage {
        height: 60%;
        flex-direction: column;
    }

    .mainPage img {
        order: -1;
        max-width: 150px;
        border-radius: 50%;
    }
    .habilidades {
        padding-top: 20px;
        margin: 0 auto;
        max-width: 90%;
    }

    .destaque-container {
        flex-direction: column;
    }
    .projeto div {
       max-width: 90vw;
       height: 350px;
    }
    .projeto-titulo {
        font-size: var(--texto-m);
    }

    .projeto-titulo::after {
        width: 40px;
    }

    .formacao h1 {
        font-size: var(--texto-m);
    }
    .formacao h2 {
        font-size: var(--texto-p);
    }

    .projeto-final img {
        width: 300px;
    }
 
}