.sobre-container {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008b8b;
}

.sobre-container img {
  max-width: 600px;
  height: 100%;
}

.historia {
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 40px;

}
.sobre-container.mostrar-texto .historia p {
  opacity: 1;
}
.sobre-container.mostrar-texto .historia h1 {
  opacity: 1;
}
.historia p  {
  opacity: 0;
  margin-top: 10px;
  font-size: 1.225em;
  transition: all .8s ease;
}
.historia  h1 {
  font-size: 3.375rem;
  margin-bottom: 40px;
  transition: all .8s ease;
  opacity: 0;
}


