.sobre-container {
  margin-top: var(--espacamento-vertical);
max-width: 100%; 
  height: 60vh;
  text-align: center;
  display: flex;
flex-direction: column;

background-color: var(--cor-5);
padding-bottom: 100px;
box-sizing: content-box;

}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.sobre p {
max-width: 750px;
font-size: var(--texto-p);
margin-top: 20px;
line-height: 1.4;
}

.sobre-titulo {
  font-family: var(--fonte-display);
  font-size: var(--texto-g);
  margin-bottom: 10px;

}